body {
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    height: 100vh;
}

#sidebar h3 {
    font-weight: bold;
}

.table thead th {
    background-color: #f8f9fa;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
}

.btn-primary {
    background-color: #4e73df;
    border-color: #4e73df;
}

.btn-danger {
    background-color: #e74a3b;
    border-color: #e74a3b;
}

.btn-success {
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.nav-link.active {
    background-color: #1c3557;
}
